*{
    box-sizing: border-box;
    margin: 0;
    border: 0;   
}
body{
    overflow-y: scroll;
    font-family: 'Rubik', sans-serif;
    background-image: url('background.svg');
    background-size: cover;
    

}
body::-webkit-scrollbar {
    display: none;
  }
  .leaderboard{
    height: 100vh;
    overflow-y: scroll;
  }
.leaderboard::-webkit-scrollbar {
    display: none;
  }


table{
   text-align: center;
    margin: 2%; 
    border-collapse: collapse;
}

/* table, th {
    border-spacing: 10px;  
 } */
 
table th{
  width:380px;
  height:70px;
  font-size: 25px;
  font-weight:bolder;
  background-color:#ffdf5f;
  color: white;
  }
 
  tr {
    border-bottom: 1px solid #ddd;
  }
  tr:hover {background-color: #D6EEEE;}

td{
    /* border:1px solid rgb(111, 106, 106); */
  width:380px;
  height:100px;
  font-size: larger;

  }
  td img{
      height: 80%;
      background-color: transparent;
      border-radius: 50%;
  }
  @media(max-width:420px){
    table th,td{
        font-size: 20px;
        line-height: 1.5rem;
        }
  }
